<% include header %>

<div class="container">
    <h1>Universitatea de stat din Tiraspol</h1>
    <img src="https://ust.md/wp-content/uploads/2020/09/cropped-logo-site.png" />
    <p class="lead">
        Prima universitate din Republica Moldova.
    </p>
    <p>
        This site is part of the Sample Messenger Bot experience
    </p>
    <ul>
        <li>
            <a href="https://ust.md/">Site-ul universitatii</a>
        </li>
    </ul>
</div>

<% include footer %>